<div class="container-fluid">
    <h2>Crear M&oacute;dulo</h2>
    <form>
        <div class="text-danger">
            {[{errorCreado}]}
        </div>
        <b>Nombre:</b> <br/>
        <input type="text" ng-model="nombre">
        <label class="text-danger">{[{errorNombre}]}</label>
        <br/><br/>

        <b>&alpha;:</b> <br/>
        <input type="number" ng-model="alfa"><br/><br/>

        <b>&beta;:</b> <br/>
        <input type="number" ng-model="beta"><br/><br/>

        <b>&gamma;:</b> <br/>
        <input type="number" ng-model="gamma"><br/><br/>

        <b>&kappa;:</b> <br/>
        <input type="number" ng-model="kappa"><br/><br/>

        <div class="btn-group">
            <button ng-click="crearModulo()" class="btn btn-secondary row boton">Crear M&oacute;dulo</button>
            <button ng-click="goBack()" class="btn btn-secondary row boton">Cancelar</button>
        </div>
    </form>
</div>