<div class="container-fluid">
    <h2>Crear Campa&ntilde;a</h2>
    <form>
        <div class="text-danger">
            {[{errorCreado}]}
        </div>
        <b>Nombre: </b> <br/>
        <input type="text" ng-model="nombre">
        <br/><br/>

        <b>Modulo asociado (nombre): </b> <br/>
         <select ng-options="modulo as modulo.nombre for modulo in lista track by modulo.id " ng-model="moduloSeleccionado" name="Módulos">
            <option></option>
        </select></b> <br/><br/>


        <label class="text-danger">{[{errorFecha}]}</label><br/>

        <b>Fecha Inicio: (yyyy/mm/dd) </b> <br/>
        <input type="text" ng-model="fechaIni"><br/><br/>

        <b>Fecha Fin: (yyyy/mm/dd) </b> <br/>
        <input type="text" ng-model="fechaFin"><br/><br/>

        <div class="btn-group">
            <button ng-click="crearCampana()" class="btn btn-secondary row boton">Crear Campa&ntilde;a</button>
            <button ng-click="goBack()" class="btn btn-secondary row boton">Cancelar</button>
        </div>
    </form>
</div>