<div class="container-fluid">
    <div class="welcome">
        <h2 class="title_api title_operations">Editar Campa&ntilde;a</h2>
    </div>
    <form>

        <b>Fecha Inicio: (yyyy/mm/dd) </b> <br/>
        <input type="text" ng-model="fechaIni"><br/><br/>

        <b>Fecha Fin: (yyyy/mm/dd) </b> <br/>
        <input type="text" ng-model="fechaFin"><br/><br/>

        <div class="error">{[{errorCreado}]}</div>
        <label class="error">{[{errorFecha}]}</label>
        <div class="btn-group">
            <button ng-click="editarCampana()" class="btn btn-secondary row boton">Editar Campa&ntilde;a</button>
            <button ng-click="volver()" class="btn btn-secondary row boton">Cancelar</button>
        </div>
    </form>
</div>