<div class="container-fluid">
    <div class="welcome">
        <h2 class="title_api title_operations">Editar M&oacute;dulo</h2>
    </div>
    <form>

        <b>Nombre:</b> <br/>
        <input type="text" ng-model="modulo.nombre">
        <i><label class="error">{[{ errorNombre }]}</label></i><br/><br/>

        <b>&alpha;:</b> <br/>
        <input type="number" ng-model="modulo.alfa">
        <i><label class="error">{[{ errorAlfa }]}</label></i><br/><br/>

        <b>&beta;:</b> <br/>
        <input type="number" ng-model="modulo.beta">
        <i><label class="error">{[{ errorBeta }]}</label></i><br/><br/>

        <b>&gamma;:</b> <br/>
        <input type="number" ng-model="modulo.gamma">
        <i><label class="error">{[{ errorGamma }]}</label></i><br/><br/>

        <b>&kappa;:</b> <br/>
        <input type="number" ng-model="modulo.kappa">
        <i><label class="error">{[{ errorKappa }]}</label></i><br/><br/>

        <i><label class="error">{[{ errorOperacion }]}</label></i>
        <div class="btn-group">
            <button ng-click="editarModulo()" class="btn btn-secondary row boton">Editar M&oacute;dulo</button>
            <button  ng-click="volver()" class="btn btn-secondary row boton">Cancelar</button>
        </div>
    </form>
</div>