<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PVShower</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/modulo.css">
</head>
<body>>
<nav id="navbar" class="navbar navbar-dark bg-dark">
    <a class=navbar-brand href="#"><h2>PVSHOWER</h2></a>
</nav>
<div class="container-fluid">
    <div class="row">
        <div ng-app="appIweb" class="col-12 text-center col-lg-8">
            <ng-view>

            </ng-view>
            <br/>
            <br/>
        </div>
        <div id="nasaApp" class="col-12 text-center col-lg-2 order-lg-first" ng-controller="nasaController">
            <div class="caja">
                <h4 class="title_api">La foto de la Nasa de hoy</h4>
                <a href="{[{iconNasa}]}" target="_blank">
                    <img class="image" ng-src="{[{iconNasa}]}">
                </a>
                <p><a href="{[{iconNasa}]}" target="_blank">Ampliar</a></p>
                <div class="text-danger">
                    {[{ nasaError }]}
                </div>
            </div>
            <br/>
        </div>

        <div id="weatherApp" class="col-12 text-center col-lg-2" ng-controller="tiempoController">
            <div class="caja">
                <h4 class="title_api">El tiempo en Málaga</h4>
                <img ng-src="{[{icon}]}">
                <p><b>Descripci&oacute;n:</b> {[{descripcion}]}</p>
                <p><b>Temperatura:</b> {[{main.temp}]} ºC</p>
                <p><b>Presion:</b> {[{main.pressure}]} mbar</p>
                <p><b>Humedad:</b> {[{main.humidity}]} %</p>
                <p><b>Velocidad del viento:</b> {[{wind}]} m/s</p>
                <p><b>Nubes:</b> {[{clouds}]} %</p>
                <div class="text-danger">
                    {[{ tiempoError }]}
                </div>
            </div>
            <br/>
            <br/>
        </div>
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-route.js"></script>
<script type="text/javascript" src="../static/js/angularIweb.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-route.js"></script>
<script type="text/javascript" src="../static/js/angularIweb.js"></script>
<script type="text/javascript" src="../static/js/login.js"></script>
<script type="text/javascript">
    (function () {
        var p = document.createElement('script');
        p.type = 'text/javascript';
        p.async = true;
        p.src = 'https://apis.google.com/js/client.js?onload=onLoadFunction';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(p, s);
    })();
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-cookies.js"></script>
<script type="text/javascript" src="../static/js/angularIweb.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</html>