<div class="container text-center" ng-controller="loginController">
        <div class="container-fluid">
            <div class="row welcome" ng-show="Show">
                <div class="text-success col-6">
                    <h1>{[{ mensaje }]}</h1>
                </div>
                <input class="btn btn-danger boton" type="button" ng-click="onGoogleLogout()" value="Cerrar Sesi&oacute;n">
            </div>
            <input class="btn btn-primary row boton" type="button" ng-click="onGoogleLogin()" ng-show="!Show" value="Iniciar Sesi&oacute;n">
            <form>
                <button class="btn btn-primary row" type="button" ng-click="verModulos()" ng-show="Show">Ver M&oacute;dulos</button>
            </form>
            <form>
                <input type="file" id="file" value="file" ng-show="Show">
                <br/><br/>
                <button class="btn btn-secondary row" type="button" ng-click="importar()" ng-show="Show">Importar Archivo Seleccionado</button>
            </form>
            <form>
                <button type="button" class="btn btn-primary" ng-click="busquedas()" ng-show="Show">Opciones de b&uacute;squeda</button>
            </form>
        </div>
        <div class="text-danger">
            {[{ error }]}
        </div>
</div>
