<div class="container text-center" ng-controller="loginController">
        <div>
            <input type="button" ng-click="onGoogleLogin()" value="Log In">
            <input type="button" ng-click="onGoogleLogout()" ng-show="Show" value="Log Out"><br/>
            <form>
                <button class="btn btn-primary row" type="button" ng-click="verModulos()" ng-show="Show">Ver M&oacute;dulos</button>
            </form>
            <form>
                <input type="file" id="file" value="file" ng-show="Show">
                <br/><br/>
                <button class="btn btn-secondary row" type="button" ng-click="importar()" ng-show="Show">Importar Archivo Seleccionado</button>
            </form>
            <form>
                <button type="button" class="btn btn-primary" ng-click="busquedas()" ng-show="Show">Opciones de b&uacute;squeda</button>
            </form>
        </div>
        <div class="text-success">
            {[{ mensaje }]}
        </div>
        <div class="text-danger">
            {[{ error }]}
        </div>
</div>
